.eggs/
*.egg-info/
*.pyc
MANIFEST
build/
dist/
.pypirc

*/ImageNet
*.file
*.nvvp
log/
*.o
*.so


*.log
*.json
*.nsys-rep
*.pickle
galvatron/models/gpt_hf/eval
galvatron/profile_hardware/hostfile
galvatron/profile_hardware/profile_reducescatter.py
galvatron/profile_hardware/test.sh
patches/