--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.4.1+cu118
torchvision>=0.19.1
torchaudio
transformers==4.45.2 
h5py>=3.11.0
attrs>=23.2.0
yacs>=0.1.8
six>=1.16.0
sentencepiece>=0.2.0
pybind11>=2.13.1
pyscipopt